<!DOCTYPE html>
<html>
<head>
    {% extends 'base.html' %}

    <title>{% block title %} Login {% endblock %}</title>
</head>

<body>
    <div class="container-lg my-5">
        <h1>Login</h1>

        {% include "../messages.html" %}

        <div class="form-group">
            <form method="POST">
                {% csrf_token %}

                <table>
                    {{ form.as_table }}
                </table>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</body>
</html>