<!-- TODO: make the left and right margins larger -->
<!-- TODO: figure out why the navbar doesn't collapse into a hamburger menu when screen gets small -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-light fixed-top">
    <a class="navbar-brand" href={% url 'home' %}>Theologos</a>

    <div class="collapse navbar-collapse">
        <div class="navbar-nav"> <!-- me-auto pushes account items to the right -->
            <a class="nav-item nav-link" href={% url 'home' %}>Home</a>
        </div>

        <!-- Bible navigation menu -->
        {% if "bible" in request.path or "post" in request.path %}

        <div class="dropdown me-auto">
            <a class="nav-link dropdown-toggle" href="#" data-bs-auto-close="outside" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Bible
            </a>
            <ul class="dropdown-menu">
                {% for book in books %}
                    <li class="dropend">
                        <a class="dropdown-item dropdown-toggle" data-bs-auto-close="outside" data-bs-toggle="dropdown">{{ book }}</a>
                        <ul class="dropdown-menu">
                            {% for chapter in book.get_chapters %}
                            <li>
                                <a class="dropdown-item dropdown-toggle" data-bs-auto-close="outside" data-bs-toggle="dropdown" href="#">{{ chapter }}</a>
                                <ul class="dropdown-menu">
                                    {% for verse in chapter.get_verses %}
                                        <li>
                                            <a class="dropdown-item"
                                                id="nav-{{ verse.get_id }}"
                                                onclick="console.log(this.id)">
                                                {{ verse }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <script>
            // Make verses in Bible navigation clickable
            {% for book in books %}
                {% for chapter in book.get_chapters %}
                    {% for verse in chapter.get_verses %}
                        document.getElementById("nav-{{ verse.get_id }}").addEventListener('click', function(e) {
                            e.preventDefault();
                            document.getElementById("verse-{{ verse.get_id }}").scrollIntoView({behavior: 'auto'});
                            document.getElementById("verse-{{ verse.get_id }}").click();
                        });
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </script>

        {% else %}

        <div class="navbar-nav me-auto">
            <a class="nav-item nav-link" href={% url 'bible:index' %}>Bible</a>
        </div>

        {% endif %}

        <div class="navbar-nav">
            {% if user.is_authenticated %}
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navbar-last" href="#" data-bs-toggle="dropdown">Hello, {{ user.username }}</a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href={% url 'accounts:detail' user.pk %}>Account</a>
                    <a class="dropdown-item" href={% url 'logout' %}>Log out</a>
                </div>
            </div>

            {% else %}
            <a class="nav-item nav-link" href={% url 'login' %}>Log in</a>
            <a class="nav-item nav-link navbar-last" href={% url 'accounts:register' %}>Register</a>
            {% endif %}
        </div>
    </div>
</nav>