<h1>Register</h1>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method='POST'>
    {% csrf_token %}

    <table>
        {{ userCreationForm.as_table }}
        {{ profileCreationForm.as_table }}

        <tr>
            <td>
                <input type="submit" name="submit" value="Register" />
            </td>
        </tr>
    </table>
</form>