{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} Bible | {{ verse }} {% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row" style="overflow-y: hidden">
        <div class="col me-5" style="height: 90vh; overflow-y: scroll;"> <!-- left half of page is the bible -->
        
            {% include "./bible_list.html" with books=books%}
            
        </div>

        <div class="col ms-5" style="height: 90vh; overflow-y: scroll;"> <!-- right half of page is commentary -->

            {% if user.is_authenticated and post.author.user.pk == user.pk %} <!-- Only let users delete their own comments -->
            
                <div class="row">
                    <a href="{% url "bible:index" verse_id=object.verse.get_id %}" class="btn btn-light">
                        Back to posts about {{ post.verse }}
                    </a>
                </div>

                <div class="row justify-content-center mt-5">
                    <div class="col-md-5 col-sm-12">
                        <h5>Are You Sure?</h5>
                        <p>You are about to delete this post, this cannot be undone.</p>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </form>
                    </div>
                </div>
            
            {% else %} <!-- If the user is not the owner of the comment -->
                <span>You are not authorized to delete this post</span>
            {% endif %}
        </div>
    </div>
</div>
<script>
    // Scroll to selected verse (to counteract reloading the page to the top)
    document.getElementById('verse-{{ post.verse.get_id }}').scrollIntoView({behavior: 'smooth'});

    // Stop filter dropdown from closing when clicking inside
    document.getElementById('post-filter').addEventListener('click', function(e) {
        e.stopPropagation();
    });
</script>
{% endblock %}


<a href="{% url "bible:index" verse_id=object.verse.get_id %}">
  Back to posts about {{ object.verse }}
</a>

<h2>{{ object.title }}</h2>

<p>{{ object.author }} | {{ object.creation_time }}</p>
<p>{{ object.text }}</p>

<hr/>

<h5>{{ object.get_comments.count }} comments</h5>

{% for comment in object.get_comments %}
  <!-- TODO: render a comment -->
{% endfor %}

<!-- TODO: add comment form -->