{% extends "../bible/bible_split_view.html" %}
{% load crispy_forms_tags %}
<!-- In this file, we render the post delete confirmation for the right side of the Bible split view. -->

{% block title %} Bible | {{ verse }} {% endblock %}

{% block back-button %}
<a href="{% url "bible:index" verse_id=object.verse.get_id %}" class="btn btn-light">
    Back to posts about {{ object.verse }}
</a>
{% endblock %}

{% block commentary-heading %} Are You Sure? {% endblock %}

{% block commentary %}
<!-- Only let users delete their own comments -->
{% if user.is_authenticated and object.author.user.pk == user.pk %}
    
    <div class="row">
        <div class="col">
            <p>{{ object.verse.original_text }}</p>
        <form method="POST">
            {% csrf_token %}
            <!-- The delete form is automatically passed to the template by Django's DeleteView -->
            {{ form | crispy }}
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </form>
        </div>
    </div>

<!-- If the user is not the owner of the post -->
{% else %}
    <span>You are not authorized to delete this post</span>
{% endif %}
{% endblock %}