{% extends "../bible/bible_split_view.html" %}
{% load crispy_forms_tags %}

{% block title %} Bible | {{ verse }} {% endblock %}

{% block back-button %}
<a href="{% url "bible:index" verse_id=object.verse.get_id %}" class="btn btn-light">
    Back to posts about {{ object.verse }}
</a>
{% endblock %}

{% block commentary-heading %} Edit Your Post {% endblock %}

{% block commentary %}
{% if user.is_authenticated and object.author.user.pk == user.pk %} <!-- Only let users delete their own comments -->
<div class="row">
    <div class="col">
        <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="d-grid gap-2">
                <button class="btn btn-success mt-3">Save</button>
            </div>
        </form>
    </div>
</div>

{% else %} <!-- If the user is not the owner of the comment -->
    <span>You are not authorized to edit this post</span>
{% endif %}
{% endblock %}