{% extends "../bible/bible_split_view.html" %}
{% load crispy_forms_tags %}
<!-- In this file, we render the post update form for the right side of the Bible split view. -->

{% block title %} Bible | {{ verse }} {% endblock %}

{% block back-button %}
<a href="{% url "bible:index" verse_id=object.verse.get_id %}" class="btn btn-light">
    Back to posts about {{ object.verse }}
</a>
{% endblock %}

{% block commentary-heading %} Edit Your Post {% endblock %}

{% block commentary %}
<!-- Only let logged in users delete their own posts -->
{% if user.is_authenticated and object.author.user.pk == user.pk %}
<div class="row">
    <div class="col">
        <form method="POST">
            {% csrf_token %}
            <!-- The update form is automatically passed to the template by Django's UpdateView -->
            {{ form | crispy }}
            <div class="d-grid gap-2">
                <button class="btn btn-success mt-3">Save</button>
            </div>
        </form>
    </div>
</div>

<!-- If the user is not the owner of the post -->
{% else %}
    <span>You are not authorized to edit this post</span>
{% endif %}
{% endblock %}