{% for book in books %}
<h1 style="padding-top: 50px;">{{ book }}</h1>
    {% for chapter in book.chapter_set.all %}
        <h2>{{ chapter.number }}</h2>
        <p>
        {% for verse in chapter.verse_set.all %}
            <!-- Jump to the desired verse with a similar url to /bible/#phil-001-001 -->
            <a href="{% url "bible:index" verse_id=verse.get_id %}"
                id="verse-{{ verse.get_id }}"
                style="text-decoration: none; color: inherit; scroll-margin: 30px;">
                <sup>{{ verse.number }}</sup> {{ verse.original_text }}
            </a>
        {% endfor %}
        </p>
    {% endfor %}
{% endfor %}