{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} {{ book.full_title }} {{ chapter.number }} {% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row" style="overflow-y: hidden">
        <div class="col me-5" style="height: 90vh; overflow-y: scroll;"> <!-- left half of page is the bible -->

            {% for book in books %}
            <h1 style="padding-top: 50px;">{{ book.full_title }}</h1>
                {% for chapter in book.chapter_set.all %}
                    <h2>{{ chapter.number }}</h2>
                    <p>
                    {% for verse in chapter.verse_set.all %}
                        <!-- Jump to the desired verse with a similar url to /bible/#phil-1-1 -->
                        <a href="{% url "index" book_symbol=book.symbol chapter_num=chapter.number verse_num=verse.number %}"
                            id="verse-{{book.symbol}}-{{chapter.number}}-{{verse.number}}"
                            style="text-decoration: none; color: inherit; scroll-margin: 30px;">
                            <sup>{{ verse.number }}</sup> {{ verse.original_text }}
                        </a>
                    {% endfor %}
                    </p>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="col ms-5" style="height: 90vh; overflow-y: scroll;"> <!-- right half of page is commentary -->
        <h2 style="padding-top: 50px;">Commentary</h2>
            {% if post %}
            <a href="{% url "index" book_symbol=book.symbol chapter_num=chapter.number verse_num=verse.number %}">Back</a>
            <h5>{{ post.title }}</h5>
            <p>{{ post.creation_time }}</p>
            <p>{{ post.author }}</p>
            <p>{{ post.text }}</p>

            {% elif verse %} <!-- if the URL specifies a selected verse number, show commentary -->
            <h5 class="my-4">{{ verse.original_text }}</h5>

            <hr/>
        
            {% for post in posts %}

            <h6>{{ post.title }}</h6>
            <p>{{ post.text }}</p>
            <a href="{% url "index" book_symbol=book.symbol chapter_num=chapter.number verse_num=verse.number post_id=post.id %}">See more</a>

            <div class="row">
                <div class="col">
                    <span>{{ post.author }}</span>
                </div>

                <div class="col text-end">
                    <span>{{ post.creation_time }}</span>
                </div>
            </div>

            <hr/>
            {% endfor %}
        
            {% if user.is_authenticated %} <!-- If the user is signed in, let them comment  -->
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ postCreationForm|crispy }}

                    <button type="submit" class="btn btn-success">Add commentary</button>
                </form>
            </div>

            {% else %} <!-- If the user is not signed in, do not let them comment -->
            <span>Please <a href={% url 'login' %}>sign in</a> to add commentary</span>
            {% endif %}

            {% else %} <!-- If a verse is not specified in the URL, do not show commentary -->
            <span>Select a verse to view commentary.</span>
            {% endif %}
        </div>
    </div>
</div>
<script>
    // Scroll to selected verse (to counteract reloading the page to the top)
    var bookSymbol = "{{ book.symbol }}";
    var chapterNum = "{{ chapter.number }}";
    var verseNum = "{{ verse.number }}"
    document.getElementById('verse-' + bookSymbol + '-' + chapterNum + '-' + verseNum).scrollIntoView({behavior: 'smooth'});
</script>
{% endblock %}