<div class="container-lg my-5">
    <h2>{{ verse.original_text }}</h2>

    {% for post in posts %}
    <h3>{{ post.title }}</h3>
    <p>{{ post.text }}</p>
    {% endfor %}

    {% if user.is_authenticated %}
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            <table>
                {{ postCreationForm.as_table }}
            </table>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {% else %}
    <span>Please sign in to add commentary</span> <!-- TODO: add link to login page -->
    {% endif %}
</div>