{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="home-container">
    <div class="item blurb">
        <h1>Welcome to Theologos</h1>
        <span style="font-size: 1.25rem;">Start sharing and viewing commentary on the Bible today</span>
    </div>

    <div class="item read">
        <a href={% url 'bible:index' %} class="item btn btn-primary btn-lg">Read the Bible</a>
    </div>

    <div class="item register">
        <a href={% url 'accounts:register' %} class="item btn btn-primary btn-lg">Make an account</a>
    </div>
</div>
{% endblock %}